{% extends "base.html" %}
{% block content %}
  <h2>Language Detection</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.text.label }}
      {{ form.text(class="form-control", rows="5") }}
    </div>
    <div class="form-group mt-2">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>

  {% if prediction %}
    <div class="alert alert-success mt-4">
      <strong>Detected Language:</strong> {{ prediction }}
    </div>
  {% endif %}
{% endblock %}
